<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-toggler-icon"></span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Enlace para Registrar Pieza -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/pieza" routerLinkActive="active">Registrar Pieza</a>
        </li>
        <!-- Enlace para Asignar Pieza -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-proyectos" routerLinkActive="active">Asignar Pieza</a>
        </li>
        <!-- Enlace para Registrar Proyecto -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrar" routerLinkActive="active">Registrar Proyecto</a>
        </li>
        <!-- Enlace para Filtrar Datos -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/filtros" routerLinkActive="active">Filtrar Datos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- filtros.component.html -->

<div>
  <h2>Proyectos con Piezas</h2>
  <ul>
    <li *ngFor="let proyecto of proyectosConPiezas">{{ proyecto.nombre }}</li>
  </ul>

  <h2>Piezas Disponibles</h2>
  <ul>
    <li *ngFor="let pieza of piezasDisponibles">{{ pieza.nombre }}</li>
  </ul>

  <h2>Proyectos por Fecha</h2>
  <ul>
    <li *ngFor="let proyecto of proyectosPorFecha">{{ proyecto.nombre }} (Fecha: {{ proyecto.fecha }})</li>
  </ul>

  <h2>Piezas No Asociadas</h2>
  <ul>
    <li *ngFor="let pieza of piezasNoAsociadas">{{ pieza.nombre }}</li>
  </ul>
</div>
