<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-toggler-icon"></span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Enlace para Registrar Pieza -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/pieza" routerLinkActive="active">Registrar Pieza</a>
        </li>
        <!-- Enlace para Asignar Pieza -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-proyectos" routerLinkActive="active">Asignar Pieza</a>
        </li>
        <!-- Enlace para Registrar Proyecto -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/registrar" routerLinkActive="active">Registrar Proyecto</a>
        </li>
        <!-- Enlace para Filtrar Datos -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/filtros" routerLinkActive="active">Filtrar Datos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

@for (solicitud of solicitudes; track $index) {   
    <div class="solicitud">
      <div class="datos">
        <h2 class="titulo">{{solicitud.NomEmpresa}}</h2>
        <p>{{solicitud.Perfil}}</p>
        <p>{{solicitud.Cantidad}}</p>
      </div>

      <div class="boton">
        <button (click)="editarSolicitud(solicitud._id)">Editar</button>
        <button (click)="borrarSolicitud(solicitud._id)">Borrar</button>
      </div>
    </div>
}
