<div>
    <h2>Registrar Nuevo Proyecto</h2>
    <form (ngSubmit)="registrarProyecto()">

      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nuevoProyecto.nombre" name="nombre" required>
  
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" [(ngModel)]="nuevoProyecto.descripcion" name="descripcion" required></textarea>
  
      <label for="responsable">Responsable:</label>
      <input type="text" id="responsable" [(ngModel)]="nuevoProyecto.nombreResponsable" name="responsable" required>
  
      <label for="fechaInicio">Fecha de Inicio:</label>
      <input type="date" id="fechaInicio" [(ngModel)]="nuevoProyecto.fechaInicio" name="fechaInicio" required>
  
      <label for="fechaFin">Fecha de Fin:</label>
      <input type="date" id="fechaFin" [(ngModel)]="nuevoProyecto.fechaFin" name="fechaFin">
  
      <button type="submit">Registrar Proyecto</button>
    </form>
  </div>


  
  